* {
    padding:0;
    margin:0;
}
body {
    background-color: whitesmoke;
}
#pad{
    border:2px solid #dddddd;
    background-color: white;
}
button{
    font-family:"Sofia";
}
.ColorButtons{
    outline: none;
    height:30px;
    padding:0;
    color:white;
    font-weight: bold;
    transition:all 350ms;
    margin:5px 1px;
    border-radius: 5px;
    width: 30.6666666667%;  
}
.utils{
    height:30px;
    width: 30.6666666667%;
    border-radius: 5px;
}
#eraser{
    color:white;
    background:linear-gradient(60deg,blue,cyan);
    border:1px solid lime;
    outline:none;
}
#red{
    background-color:red;
    border:2px solid red;
}
#green{
    background-color:green;
    border:2px solid green;
}
#blue{
    background-color:blue;
    border:2px solid blue;
}
#cyan{
    background-color:cyan;
    border:2px solid cyan;
}
#black{
    background-color:black;
    border:2px solid black;
}
#lime{
    background-color:lime;
    border:2px solid lime;
}
#yellow{
    background-color:yellow;
    border:2px solid yellow;
}
#orange{
    background-color:orange;
    border:2px solid orange;
}
#customcolor {

}
